body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(58, 123, 143);
}

.login-form-box {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.login-form-box > div {
    align-self: center;
    padding: 2rem;
    width: 350px;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    /* transition: all 300ms ease-in; */
}

/* .login-form-box > div:hover {
    background-color: white;
    transform: scale(1.02);
} */

.login-form-box > div h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form div {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.login-form div label {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: lowercase;
    color: rgba(0, 0, 0, 0.9);
}

.login-form div input {
    padding: 0.8rem 0.8rem;
    font-size: 1.1rem;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    transition: all 200ms linear;
    margin-top: 0.3rem;
}

.login-form div input:focus {
    outline: none;
    border: 2px solid rgb(58, 123, 143);
}

button {
    width: 100%;
    align-self: center;
    padding: 0.6rem 0.5rem;
    background-color: green;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
    transition: all 200ms ease-in;
}

button:hover {
    background-color: rgba(0, 128, 0, 0.9);
    box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.8);
}